@import "mixins";

.container {
    width: 1440px;
    margin: 0 auto;

    @include mobile() {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    @include tablet() {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    @include tablet-landscape() {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
}


