@import "vars";
@import "mixins";

.primary-btn {
    background: $clr-dark-btn;
    padding: 18px 30px;

    @include font-color($clr-light-text);
    @include text-transform(uppercase);

    @include tablet() {
        padding: 15px 20px;
    }

    @include mobile() {
        padding: 15px 21px;
    }
}
.secondary-btn {
    background: $clr-light-text;
    border: 1px solid $clr-dark-border;
    padding: 18px 20px;

    @include font-color($clr-dark-btn);
    @include text-transform(uppercase);

    @include tablet() {
        padding: 12px 14px;
    }

    @include mobile() {
        padding: 15px;
    }
}

.primary-btn,
.secondary-btn {
    border-radius: 12px;
}
