@import "vars";
@import "mixins";

.top-collection-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $clr-secondary-border;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    @include mobile-landscape() {
        border: none;
    }
    thead {
        background-color: $clr-dark-bg;
        color: $clr-light-text;
        @include mobile-landscape() {
            display: none;
        }
        th {
            padding: 1rem 1.5rem;
            text-align: left;
            font-weight: 500;
            font-size: 1.2rem;
            @include mobile-landscape() {
                padding: 1rem;
            }
        }
    }
    tbody {
        @include mobile-landscape() {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
        tr {
            border-bottom: 1px solid $clr-secondary-border;
            @include mobile-landscape() {
                display: flex;
                flex-direction: column;
                border-bottom: none;
                border-left: 1px solid $clr-secondary-border;
                border-right: 1px solid $clr-secondary-border;
                border-top: 1px solid $clr-secondary-border;
                margin-bottom: 1rem;
            }
            &:last-child {
                border-bottom: none;
            }
            td {
                padding: 1rem 1.5rem;
                @include mobile-landscape() {
                    padding: 1rem;
                }
                &:first-child {
                    @include mobile-landscape() {
                        border-bottom: 1px solid $clr-secondary-border;
                    }
                }
                &:last-child {
                    @include mobile-landscape() {
                        border-top: 1px solid $clr-secondary-border;
                    }
                }
            }
        }
    }
}
