$mobile-width: 375px;
$tablet-width: 1024px;
$desktop-width: 1440px;

$hi-res-tablet-width: 1366px;

$clr-form-valid: #198754;
$clr-form-valid-border: $clr-form-valid;
$clr-form-invalid: #dc3545;
$clr-form-invalid-border: $clr-form-invalid;
//$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !default;



$clr-menu-link: #606060;
$clr-heading-text: #141416;
$clr-description-text: #676767;
$clr-dark-btn: #000;
$clr-dark-border: #000;

$base-font: 'Inter', sans-serif;
$heading-font: 'Popins', sans-serif;

